* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'butter pineapple';
  src: URL(./fonts/butter-pineapple.regular.otf);
}
body {
  background-image: url("./img/lettuce.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* backdrop-filter: blur(5px); */
 
}

.card{
  cursor: pointer;
}

.card {
  margin: 10px;
  transition: transform 0.3s ease-in-out;
}
.banner{
  margin: 10px;
  transition: transform 0.3s ease-in-out;
}
.card:hover{
  transform: translateY(-10px);
}

.bn-content{
  margin: 10px;
  transition: transform 0.3s ease-in-out;

}
.bn-content:hover{
  transform: translateY(-10px);

}

.imgmenu {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px); /* Optional: starts slightly below and moves up */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}




.banner:hover {
  transform: translateY(-10px);
}

.container{
  width: 1400px;
  margin: auto;
  
}

.btn-primary {
  background-color: #4E7047;
  color: white;
  border: 0;
  transition: transform 0.3s ease-in-out;
}

.btn-primary:hover {
  transform: scale(1.05);
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-3px); }
  50% { transform: translateX(3px); }
  75% { transform: translateX(-2px); }
  100% { transform: translateX(2px); }
}

.fa-solid:hover {
  animation: shake 0.5s ease-in-out infinite; /* Apply the shake animation */
}

#login:hover {
  animation: shake 0.5s ease-in-out infinite; 
}

nav{
    background-color: #4E7047;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: white;
    
}
.navbar .nav-link {
  transition: color 0.3s; /* Add transition for color change */
}

.navbar .nav-link:hover {
  color: #6F9E6D; /* Change color to red on hover */
}


h2 {
  font-family: 'butter pineapple', sans-serif;
  font-size:xx-large;
}
ul {
  list-style-type: none;
  float: right;
  padding-top: 10px;
  padding-right: 20px;;
}
li {
  float: left;
  padding: 15px;
  font-size: 20px;
}
.logo{
  font-size: 50px;
}
.logo {
  opacity: 0;
  animation: logoBreathing 4s infinite;
}

@keyframes logoBreathing {
  0%, 100% {
    opacity: 1;
    transform: translateX(0) scale(1); /* Start and end with original size */
  }
  50% {
    transform: translateX(20px) scale(1.1); /* Slightly expand */
  }
}




img {
  width: 500px;
  height: auto;
}
.booking-title{
  text-align: center;
  font-family: 'EB Garamond', serif;
  font-weight:600;
}
form{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.heading{
  text-align: center;
  font-family: 'EB Garamond', serif;
  font-weight:600;
  
}

.card{
  margin: 10px;
  
}



.order{
  color: red;
  
}

.btn-primary, .btn-primary:visited {
  background-color:#4E7047 !important;
  color: white !important;
  border: 0 !important;

  
}

.card-title{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.card-text{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
.card-container{
  display: flex;
  justify-content: center;
  
}
.banner{
  /* width: 1000px; */
  display: flex;
  justify-content: center;
}




.card-img-top {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  }
.banner-img{
  width: 100%;
  height: auto;
  border-radius: 28px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.imgmenu{
  width: 420px;
  height: 300px;
  border-radius: 28px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: block;
  margin: 0 auto;

}
.socialicon{
  width: 30px;
  height: auto;
}
.bn-content{
  text-align: center;
  padding-top: 70px;
}

footer {
  padding-left: 70px;
  padding-top: 10px;
  background-color: #4E7047;
  color: white;
  font-family: 'EB Garamond', serif;
  font-weight:400;
}
.social-icons {
  list-style: none;
  padding: 0;
  margin: 15px;
  float: left;
  
}

.social-icons li {
  display: inline-block;
  margin-right: 20px; /* Adjust the spacing between icons */
}
.submit-booking{
  margin: 20px 0 20px 40%;
}

.booking-title{
  margin-top: 20px;
  color: light-grey;
  font-size: 40px;
}

.booking-img{
  margin-top: 10%;
}

.about-title{
  padding-left: 20px;
}

.about-text{
  padding-left: 20px;
}

.ctmenu{
  border-bottom: 1px solid red;
}
.line-4 hr {
  height: 2px;
  border: 0;
  background: #638889;
  width: 730px;
  position: absolute;
	left: 25%;
}
