
        .socialicon
        {
            width: 30px;
            height: auto;
        }
        social-icons {
            list-style: none;
            padding: 0;
            margin: 15px;
            float: left;
        }
        footer {
            padding-left: 70px;
            padding-top: 10px;
            background-color: #4E7047;
            color: white;
            }
        .social-icons li {
            display: inline-block;
            margin-right: 20px; 
        }
    
